@import '../../assets/sass/variables';

.notification{
    width: 32rem;
    max-width: 97vw;
    background: $gradient-ocean;
    padding: 1rem 2rem;
    position: fixed;
    top:5rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: auto;
    z-index: 9999;
    color: #fff;
    &.error{
        background: $error-background;
         color:$color-text-white;
    }
    p{
        font-weight: 600;
    }
}