.standard-btn{
    padding: .5rem 1rem;
    background: linear-gradient(to right bottom, #519946, #27ab81);
    color:#fff;
    font-weight: 800;
    font-size: 1rem;
    border:none;
    border-radius: 15px;
    cursor: pointer;
}