@import "../../assets/sass/variables";
@import "../../assets/sass/mixins";
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oswald:wght@700&display=swap");

.content {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 97vw;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    h1 {
      font-size: 5rem;
      text-transform: capitalize;
      font-family: "Fjalla One", sans-serif;
      -webkit-text-stroke: 1px $color-ocean-2;
      color: transparent;
      @media screen and(min-width:1024px) {
        font-size: 8rem;
      }
    }
  }