@import '../../assets/sass/mixins';

.auth-form {
  max-width: 96vw;
  width: 35rem;
  background-color: #fff;
  padding:3rem .5rem;
  border-radius: 15px;
  .title {
    @include ocean-gradient-text;
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }
  .auth-form-controllers{
    display: flex;
    justify-content: space-between;
  }
  .reset-password-link{
     text-align: center;
     margin-top: .5rem;
    a{
      color:#999;
      text-decoration: none;
      &:hover{
        color:#444;
      }
    }
  }
}
  
@media screen and(min-width:768px) {
  .auth-form{
    padding: 4rem 3rem;
    .title{
      font-size: 1.5rem;
    }
  }
}