.auth-form {
  max-width: 90%;
  width: 45rem;
  background-color: #fff;
  padding:2rem .5rem;
  border-radius: 15px;
  .title {
    background: linear-gradient(to right bottom, #519946, #27ab81);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }
}
  
@media screen and(min-width:768px) {
  .auth-form{
    padding: 4rem 3rem;
    .title{
      font-size: 1.5rem;
    }
  }
}