.backdrop {
    background-color: #072d0062;
    position: fixed;
    inset: 0 0 0 0;
    z-index: 999999;
    transition: all 0.4s ease;
  }
  
  .model-content {
      background-color: #fff;
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      z-index: 9999999;
      transition: all 0.4s ease;
      overflow-y: scroll;
      max-height: 90vh;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 5px;
  }
  