.backdrop {
    background-color: #072d0062;
    position: fixed;
    inset: 0 0 0 0;
    z-index: 999999;
    transition: all 0.4s ease;
  }
  
  .model-content {
    background-color: #fff;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999999;
    transition: all 0.4s ease;
    height: 100%;
    overflow-x: scroll;
    @media screen and (min-width:760px) {
        height: auto;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
  }
  