@import '../../../../assets/sass/variables';

.tour-overview-hero {
    position: relative;
    height: 44vh;
    width: 100vw;
    transform:skewY(-6deg);
    transform-origin: bottom left;
    .hero-img {
      width: 100%;
      height: 100%;
      .hero-img-overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: $gradient-ocean-shadow;
      }
      img {
        -o-object-fit: cover;
        object-fit: cover;
        height: 100%;
        width: 100%;
        -o-object-position: 50% 25%;
        object-position: 50% 25%;
      }
    }
    .hero-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 97vw;
      min-width: 20rem;
      .hero-content-title {
        transform:skewY(6deg);
        color: #fff;
        padding: 5px 10px;
        background-image: $gradient-ocean;
      }
      .hero-content-body{
        display: flex;
        color: #fff;
        font-size: 1.2rem;
        gap: 1rem;
        margin-top: 1rem;
        justify-content: center;
        transform:skewY(6deg);
        .hero-content-text {
          display: flex;
          align-items: center;
          gap: 5px;
          font-weight: 800;
        }
      }
    }
  }
  
  @media only screen and(min-width:768px) {
    .tour-overview-hero {
      position: relative;
      height: 70vh;
    }
  }
  @media screen and(min-width:920px) {
    .tour-overview-hero {
      position: relative;
      height: 100vh;
    }
  }