.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
    height: 15rem;
    .brand-logo{
        width: 120px;
        img{
            width: 100%;
        }
    }
    .footer-navlist{
        display: flex;
        list-style: none;
        .footer-navlist-item:not(:last-child){
            margin-right:.5rem ;
        }
        .footer-navlist-item{
            a{
                text-decoration: none;
                color: #777;
            }
        }
    }
    .footer-copy-right{
        color:#999;
        margin-top: .5rem;
        text-align: center;
    }
}

@media only screen and (min-width: 481px){
    .footer{
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 3rem;
        .brand-logo{
            width: 150px;
            img{
                width: 100%;
            }
        }
    }
}