@import '../../assets/sass/variables';

.main-header {
  background: $gradient-ocean;
  width: 100vw;
  position: fixed;
  top:0;
  left: 0;
  color: #fff;
  padding-inline: 2rem;
  padding-block: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  .brand-logo {
    width: 70px;
    a{
      text-decoration: none;
        color: #fff;
    }
    img {
      width: 100%;
    }
  }
  .navbar-toggle {
    cursor: pointer;
    padding: 0.5rem;
    position: relative;
    z-index: 20;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.active .bar:nth-of-type(1) {
      transform: rotate(45deg) translate(6px, 6px);
    }

    &.active .bar:nth-of-type(2) {
      opacity: 0;
    }

    &.active .bar:nth-of-type(3) {
      transform: rotate(-45deg) translate(6px, -6px);
    }
    .bar {
      width: 25px;
      height: 3px;
      background-color: #ffff;
      box-shadow: 2px 2px 10px #000;
      margin: 3px auto;
      transition: all 0.3s ease-in-out;
      display: block;
    }
  }
  .main-nav {
    height: 100vh;
    position: absolute;
    right: -100%;
    top: 0;
    visibility: hidden;
    width: 100vw;
    transition: all .4s ease-in-out;
    background: $gradient-ocean;
    &.active{
        right:0;
        visibility: visible;
    }
    .main-nav-list {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding-top: 3rem;
      text-align: center;
      align-items: center;
      .main-nav-list-item:nth-child(1) {
        margin-bottom: 1rem;
        margin-right: 0;
      }
      .main-nav-list-item{
        
        button{
          background: none;
          color:#fff;
          border: none;
          font-size: 1.2rem;
          cursor: pointer;
          font-weight: 600;
        }
        .user-profile{
          display: flex;
          align-items: center;
          gap: 10px;
          .userPhoto{
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
          }
        }
        a, .userName {
          text-decoration: none;
          color: #fff;
          font-size: 1.2rem;
          font-weight: 600;
        }
      }
    }
  }
}

@media only screen and (min-width: 481px) {
    .main-header{
        padding: .5rem 3rem;
        .brand-logo{
            width: 100px;
        }
        .navbar-toggle{
            display: none;
        }
        .main-nav{
            height: 100%;
            width: auto;
            position: relative;
            right:auto;
            top:auto;
            visibility: visible;
            background: transparent;
            .main-nav-list{
                padding: 0;
                flex-direction: row;
                .main-nav-list-item:nth-child(1) {
                    margin-right: 1rem;
                    margin-bottom: 0;
                  }
            }
        }
    }
}
