
.reviews {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  gap: 5rem;
  background: linear-gradient(to right bottom, #519946, #27ab81);
  transform: skewY(-6deg);
  transform-origin: bottom left;
  height: 40vh;
  padding: 0 3rem;
}

@media screen and (min-width: 768px) {
  .reviews {
    height: 70vh;
  }
}
