@import '../../../assets/sass/mixins';
@import '../../../assets/sass/variables';

.ForgetPasswordForm{
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $gradient-ocean-light;
    .email-sent-msg{
        text-align: center;
        @include ocean-gradient-text;
        p{
            font-weight: 600;
        }
    }
}
@media screen and(min-width:768px) {
    .ForgetPasswordForm{
        height: 81vh;
        .email-sent-msg{
            p{
                font-size: 2rem;
            }
        }
    }
  }

@media screen and(min-width:920px) {
    .ForgetPasswordForm{
        height: 100vh;
    }
}