@import '../../../assets/sass/variables';


.signup-form {
  background:$gradient-ocean-light;
  width: 100vw;
  height: 100vh;
  padding-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and(min-width:768px) {
    padding: 7rem 3rem 3rem 3rem;
    height: 81vh;
  }
  @media screen and(min-width:920px) {
    height: 100vh;
  }
}
