.tour-overview-template{
    display: flex;
    flex-direction: column;
    transform:skewY(-6deg);
    transform-origin: bottom left;
    .template-image{
          width: 100%;
          height: 100%;
          img{
            width: 100%;
            height: 100%;
          }
    }
}

@media screen and (min-width:760px) {
  .tour-overview-template{
    transform:skewY(-6deg);
    transform-origin: bottom left;
}
}
@media screen and (min-width:920px) {
  .tour-overview-template{
   flex-direction: row;
    .template-image{
      width: 33.3%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
      }
}
}
}