@import '../../../../assets/sass/variables';


.admin-block{
    .admin-block-title{
      padding:.5rem 2rem;
      h4{
        color:$color-text-white;
        border-bottom: 2px solid $color-text-white;
        padding-bottom: 10px;
      }
    }
    .profile-menu-items-list {
        list-style: none;
        .profile-menu-item {
            border-left: 0 solid $color-text-white;
            padding: .5rem 2rem;
            margin-block: 1.5rem;
            display: flex;
            align-items: center;
            gap:1.5rem;
            transition: all .1s ease-in;
            &:hover, &:has(a.active){
                border-left: 5px solid $color-text-white;
    
            }
          .icon{
            color: $color-text-white;
            font-size: 1.5rem;
            font-weight: 800;
          }
          a {
            color: $color-text-white;
            text-decoration: none;
            font-weight: 600;
          }
        }
      }
  }
