@import '../../../../assets/sass/variables';

.profile-menu {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  background: $gradient-ocean;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;;
 .close-icon{
    position: absolute;
    right: 2rem;
    top:2rem;
    font-size: 1.5rem;
    color:$color-text-white;
    transition: all .2s ease-in;
    cursor: pointer;
    &:hover{
      transform: scale(1.2);
    }
 }
 .profile-menu-items-list {
    list-style: none;
    .profile-menu-item {
        border-left: 0 solid $color-text-white;
        padding: .5rem 2rem;
        margin-bottom: 1.5rem;
        display: flex;
        align-items: center;
        gap:1.5rem;
        transition: all .1s ease-in;
        &:hover, &:has(a.active){
            border-left: 5px solid $color-text-white;

        }
      .icon{
        color: $color-text-white;
        font-size: 1.5rem;
        font-weight: 800;
      }
      a {
        color: $color-text-white;
        text-decoration: none;
        font-weight: 600;
      }
    }
  
  }
  .admin-block{
    .admin-block-title{
      padding:.5rem 2rem;
      h4{
        color:$color-text-white;
        border-bottom: 2px solid $color-text-white;
        padding-bottom: 10px;
      }
    }
  }
}

@media screen and(min-width:768px) {
  .close-icon{
    display: none;
  }
}