

.tours-container {
  padding-inline: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  align-items: start;
  &.home-tours{
    margin-top: 4rem;
  }
}
@media only screen and (min-width:768px){
    .tours-container{
        padding-inline: 2.5rem;
        grid-template-columns: 1fr 1fr;
        grid-gap:4rem;
        &.management{
            grid-template-columns: 1fr;
            padding-top: 2rem;
        }
        &.home-tours{
            margin-top: 6rem;
        }
    }
}
@media only screen and (min-width:1024px){
    .tours-container{
        padding-inline: 3rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:5rem;
        &.management{
            grid-template-columns: 1fr 1fr;
            padding-top: 2rem;
        }
    }
}
