.profile-menu {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  background: linear-gradient(to right bottom, #519946, #27ab81);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .profile-menu-items-list {
    list-style: none;
    .profile-menu-item {
        border-left: 0 solid #fff;
        padding: .5rem 2rem;
        margin-bottom: 1.5rem;
        display: flex;
        align-items: center;
        gap:1.5rem;
        transition: all .1s ease-in;
        &:hover, &:has(a.active){
            border-left: 5px solid #fff;

        }
      .icon{
        color: #fff;
        font-size: 1.5rem;
        font-weight: 800;
      }
      a {
        color: #fff;
        text-decoration: none;
        font-weight: 600;
      }
    }
  
  }
  .admin-block{
    .admin-block-title{
      padding:.5rem 2rem;
      h4{
        color:#fff;
        border-bottom: 2px solid #fff;
        padding-bottom: 10px;
      }
    }
  }
}

