.ForgetPasswordForm{
    width: 35rem;
    max-width: 90%;
    margin: 10rem auto;
    .email-sent-msg{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom right, #519946, #27ab81);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        p{
            font-weight: 600;
        }
    }
}

@media screen and(min-width:768px) {
    .ForgetPasswordForm{
        margin-block: 4rem;
        .email-sent-msg{
            height: 40vh;
        }
    }
}