@import '../../../assets/sass/variables';
@import '../../../assets/sass/mixins';

.review-box {
    padding: 1rem;
    border: 2px solid #00000028;
    border-radius: 5px;
    background: #00000034;
    backdrop-filter: blur(2px);
    h2 {
     color: $color-text-white;
    }
    .review-form {
      width: 30rem;
      max-width: 90vw;
      padding: 1rem;
      background: $gradient-ocean-shadow;
      border-radius: 5px;
      .review-form-controllers{
          display: flex;
          justify-content: space-between;
      }
    }
  }